@using DeRosaWebApp.Models;
@using System.Globalization;
@model ActionResult<Produto>

<div class="product-details-container">
    <div class="product-image">
        @if (Model.Value.ImagemUrl.Contains("www") || Model.Value.ImagemUrl.Contains("https") || Model.Value.ImagemUrl.Contains("http"))
        {
            <img src='@Model.Value.ImagemUrl' alt="@Model.Value.Nome" />
        }
        else
        {
            <input class="img-loja" type="image" src='~/Imagens/@Model.Value.ImagemUrl' alt="@Model.Value.Nome" />
        }

    </div>
    <div class="product-details">
        <h1 class="product-title">@Model.Value.Nome</h1>
        <p class="product-description">@Model.Value.DescricaoCurta</p>

        <h2 class="product-price">R$@Model.Value.Preco.ToString("F2", CultureInfo.InvariantCulture)</h2>

        @{
            int quantidade = 1;
        }

        @if (Model.Value.EmEstoque > 0 && !Model.Value.Indisponivel)
        {
            <p class="stock-status"> Em estoque: @Model.Value.EmEstoque</p>
            <form method="post" asp-controller="Carrinho" asp-action="AdicionarNoCarrinho" asp-route-cod_Produto="@Model.Value.Cod_Produto" asp-route-quantidadeAdicionar="@quantidade">
                <div class="form-group">
                    <label for="quantidade">Quantidade </label>
                    <input type="number" id="quantidade" name="quantidadeAdicionar" value="@quantidade" min="1" max="12" />
                </div>
                <button type="submit" class="btn-add-cart">Adicionar @Model.Value.Nome ao carrinho</button>
            </form>
        }
        else
        {
            <p class="product-unavailable">Produto indisponível no momento.</p>
           // <a class="btn-schedule">Agendar para outra semana</a>
        }
    </div>
</div>

<script>
    window.onload = function () {
        var message = '@TempData["ErroAdicionar"]'
        if (message) {
            alert(message);
        }
    };


</script>