@using DeRosaWebApp.Models;
@using System.Globalization;
@model ActionResult<Produto>

<div class="product-details-container">
    <div class="product-image">
        @if (Model.Value.ImagemUrl.Contains("www") || Model.Value.ImagemUrl.Contains("https") || Model.Value.ImagemUrl.Contains("http"))
        {
            <img style="width: 560px; height: 560px" src='@Model.Value.ImagemUrl' />
        }
        else
        {
            <input class="img-loja" type="image" style="width: 560px; height: 560px" src='~/Imagens/@Model.Value.ImagemUrl' />
        }
        
    </div>
    <div class="product-details">
        <h1 class="nome-item">@Model.Value.Nome</h1>
        <p>@Model.Value.DescricaoCurta</p>

        <h2 id="product-price">R$@Model.Value.Preco.ToString("F2",@CultureInfo.InvariantCulture)</h2>

        <p style="color: yellow; font-size:smaller;"> Preço promocional: R$@Model.Value.PrecoSecundario</p>

        @{
            int quantidade = 1;
        }

        <form method="post" asp-controller="Carrinho" asp-action="AdicionarNoCarrinho" asp-route-cod_Produto="@Model.Value.Cod_Produto" asp-route-quantidadeAdicionar="@quantidade">
            <div class="form-group">
                <label class="col-form-label" for="@quantidade">Quantidade </label>
                <input type="number" id="quantidade" class="" name="quantidadeAdicionar" value="@quantidade" min="1" max="12" />
            </div>
            <button type="submit" class="btn btn-primary">Adicionar @Model.Value.Nome ao carrinho</button>
        </form>
    </div>
</div>