@using DeRosaWebApp.Areas.Admin.ViewModel
@using System.Globalization

@{
    CultureInfo culture = CultureInfo.GetCultureInfo("pt-BR");
}
@model DashboardViewModel

@{
    ViewData["Title"] = "Admin Dashboard";
}

<body>
    <h2 class="title-dashboard">Admin Dashboard</h2>

    <div class="form-container">
        <h4>Selecione o Mês:</h4>
        <form asp-action="Index" asp-controller="AdminDashboard" method="get" class="filter-form">
            <select asp-for="MesSelecionado" class="form-control" id="mes" name="mes">
                <option value="1">Janeiro</option>
                <option value="2">Fevereiro</option>
                <option value="3">Março</option>
                <option value="4">Abril</option>
                <option value="5">Maio</option>
                <option value="6">Junho</option>
                <option value="7">Julho</option>
                <option value="8">Agosto</option>
                <option value="9">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>
            <select asp-for="AnoSelecionado" class="form-control" id="ano" name="ano">
                <option value="@Model.AnoSelecionado">Selecione o Ano</option>
                @for (int i = DateTime.Now.Year; i >= 2000; i--)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <button type="submit" class="btn-primary create-button">Filtrar</button>
        </form>
    </div>

    <div class="summary-container">
        <h4>Resumo de Vendas</h4>
        <p>Número de Pedidos: @Model.NumeroDePedidos</p>
        <p>Total Vendido: @string.Format(culture, "{0:C}", Model.TotalVendido)</p>
        <p>Número de Pedidos Concluídos: @Model.NumeroDePedidosEntregues</p>
        <p>Número de Pedidos Pendentes: @Model.NumeroDePedidosPendentes</p>
    </div>

    <div class="sales-container">
        <h4>Vendas por Produto</h4>
        <table class="sales-table">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade Vendida</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vendaPorProduto in Model.VendasPorProduto)
                {
                    <tr>
                        <td>@vendaPorProduto.Key.Item2</td>
                        <td>@vendaPorProduto.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
