@using DeRosaWebApp.Models;
@using System.Globalization;
@model IEnumerable<Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1 class="titulo-tabela">Visão geral</h1>

<div class="container-fluid admin">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.DataPedido)</th>
                <th>@Html.DisplayNameFor(model => model.Logradouro)</th>
                <th>@Html.DisplayNameFor(model => model.Numero)</th>
                <th>@Html.DisplayNameFor(model => model.Telefone)</th>
                <th>@Html.DisplayNameFor(model => model.TotalItensPedido)</th>
                <th>@Html.DisplayNameFor(model => model.TotalPedido)</th>
                <th>@Html.DisplayNameFor(model => model.Entregue)</th>
                <th>@Html.DisplayNameFor(model => model.Concluido)</th>
                <th>@Html.DisplayNameFor(model => model.Agendado)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.DataPedido)</td>
                    <td>@Html.DisplayFor(modelItem => item.Logradouro)</td>
                    <td>@Html.DisplayFor(modelItem => item.Numero)</td>
                    <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalItensPedido)</td>
                    <td>R$@item.TotalPedido.ToString("F2", CultureInfo.InvariantCulture)</td>
                    <td class="status" data-status="@item.Entregue">
                        @Html.DisplayFor(modelItem => item.Entregue)
                    </td>
                    <td class="status" data-status="@item.Concluido">
                        @Html.DisplayFor(modelItem => item.Concluido)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Agendado)</td>
                    <td class="actions">
                        <a class="btn" asp-action="Edit" asp-route-id="@item.Cod_Pedido">Editar</a>
                        <a class="btn" asp-action="Details" asp-route-id="@item.Cod_Pedido">Detalhes</a>
                        <a class="btn" asp-action="Delete" asp-route-id="@item.Cod_Pedido">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>