@model List<Endereco>

<form asp-action="EscolhaEndereco" asp-controller="Endereco" method="post" class="form-horizontal" role="form">
    <div class="container">
        <h4>Escolha um endereço:</h4>
        <div class="card-body">
            <h6 class="text-danger">@TempData["Erro"]</h6>
            @foreach (Endereco endereco in Model)
            {
                <div class="container-escolha-endereco" onclick="selecionarEndereco(this, @endereco.Id)">
                    <input type="radio" name="selectedAddressId" value="@endereco.Id" onclick="desmarcarOutrosRadios(this.value)">
                    <label asp-for="@endereco.Id" style="display:none">@endereco.Id</label>
                    <label>@endereco.Logradouro, @endereco.Numero (@endereco.Complemento), @endereco.Bairro, @endereco.Cidade, @endereco.UF, @endereco.CEP</label>
                    <a asp-action="EditEndereco" asp-controller="Endereco" asp-route-enderecoId="@endereco.Id">Editar endereço</a>
                </div>
            }
        </div>
        <div class="container-escolha-botoes">
            <input class="btn btn-success btn-endereco" type="submit" value="Confirmar endereço" />
            <a class="btn btn-success" asp-action="AdicionarEndereco" asp-controller="Endereco">Adicionar novo</a>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        function desmarcarOutrosRadios(idSelecionado) {
            console.log("Endereço selecionado: " + idSelecionado);
        }

        function selecionarEndereco(elemento, enderecoId) {
            const radioButtons = document.querySelectorAll('input[name="selectedAddressId"]');
            radioButtons.forEach(radioButton => radioButton.checked = false);

            const radioButton = elemento.querySelector('input[name="selectedAddressId"]');
            radioButton.checked = true;
        }
    </script>
}
