@model List<Endereco>

<form asp-action="EscolhaEndereco" asp-controller="Endereco" method="post" class="form-horizontal" role="form">
    <div class="container">
        <h4>Escolha um endereço:</h4>
        <div class="card-body">
            @foreach (Endereco endereco in Model)
            {
                <div style="margin-top: 20px">
                    <label asp-for="@endereco.Id" style="display:none">@endereco.Id</label>
                    <label>@endereco.Logradouro, @endereco.Numero (@endereco.Complemento), @endereco.Bairro, @endereco.Cidade, @endereco.UF, @endereco.CEP</label>
                    <a asp-action="EditEndereco" asp-controller="Endereco" asp-route-enderecoId="@endereco.Id">Editar endereço</a>
                    <input type="radio" name="selectedAddressId" value="@endereco.Id" onclick="desmarcarOutrosRadios(this.value)">
                </div>
            }
        </div>
    </div>
    <input class="btn btn-success" type="submit" value="Confirmar endereço" />
    <a class="btn btn-success" asp-action="AdicionarEndereco" asp-controller="Endereco">Adicionar outro endereço</a>
</form>

@section Scripts {
    <script>
        function desmarcarOutrosRadios(idSelecionado) {
            console.log("Endereço selecionado: " + idSelecionado); 
        }
    </script>
}