@using DeRosaWebApp.Areas.Admin.ViewModel;
@model CreateProdutoViewModel

@{
    ViewData["Title"] = "Criar produto";
}
<style>
    .img-thumbnail {
        margin: 5px;
        transition: transform 0.3s;
    }

        .img-thumbnail:hover {
            transform: scale(1.1);
        }

    .img-selected {
        border: 2px solid #007bff; /* Azul do bootstrap */
    }
</style>
@* <h1>Criar</h1> *@

<h4 class="cat-title">Novo produto</h4>
<hr />

<div>
    <a asp-action="Index" class="create-button">Voltar para a lista</a>
</div>

<div class="row custom-product">
    <div class="col-md-4">
        <form asp-area="Admin" asp-controller="AdminProduto" asp-action="Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Produto.Nome" class="control-label"></label>
                <input asp-for="@Model.Produto.Nome" class="form-control" />
                <span asp-validation-for="@Model.Produto.Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Produto.Preco" class="control-label"></label>
                <input asp-for="@Model.Produto.Preco" min="0" class="form-control" />
                <span asp-validation-for="@Model.Produto.Preco" class="text-danger"></span>
            </div>




            <div class="form-group">
                <label asp-for="@Model.Produto.EmEstoque" class="control-label"></label>
                <input asp-for="@Model.Produto.EmEstoque" min="0" class="form-control" />
                <span asp-validation-for="@Model.Produto.EmEstoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Produto.EstoqueAgendamento" class="control-label"></label>
                <input asp-for="@Model.Produto.EstoqueAgendamento" min="0" class="form-control" />
                <span asp-validation-for="@Model.Produto.EstoqueAgendamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Escolha uma Imagem</label>
                <div id="image-picker" class="picker-img-test">
                    @foreach (var image in Model.AvailableImages)
                    {
                        <img src="@Url.Content("~/Imagens/Produtos/" + image)" alt="@image" class="img-thumbnail img-selectable"
                             data-image="@Url.Content("~/Imagens/Produtos/" + image)" style="width: 100px; height: auto; cursor: pointer;">
                    }
                </div>
                <input type="hidden" id="imagemUrlField" asp-for="@Model.Produto.ImagemUrl" />

                <span asp-validation-for="@Model.Produto.ImagemUrl" class="text-danger"></span>
            </div>
            <a class="btn btn-success" asp-area="Admin" asp-action="Index" asp-controller="AdminImagens">Adicionar nova imagem</a>

            <div class="form-group">
                <label asp-for="@Model.Produto.DescricaoCurta" class="control-label"></label>
                <input asp-for="@Model.Produto.DescricaoCurta" class="form-control" />
                <span asp-validation-for="@Model.Produto.DescricaoCurta" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="@Model.Produto.PrecoSecundario" class="control-label"></label>
                <input asp-for="@Model.Produto.PrecoSecundario" min="0" class="form-control" />
                <span asp-validation-for="@Model.Produto.PrecoSecundario" class="text-danger"></span>
            </div>

            <div class="form-check custom-promotion-check">
                <label asp-for="@Model.Produto.Promocional" class="form-check-label"></label>
                <input asp-for="@Model.Produto.Promocional" class="form-check-input" />
                <span asp-validation-for="@Model.Produto.Promocional" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Produto.IdCategoria" class="form-label">Escolha uma Categoria</label>
                <select asp-for="@Model.Produto.IdCategoria" class="form-select">
                    @foreach (var item in Model.ListCategorias)
                    {
                        <option value="@item.IdCategoria">@item.CategoriaNome</option>
                    }
                </select>
                <input type="hidden" id="imagemUrlField" asp-for="@Model.Produto.ImagemUrl" />
                <span asp-validation-for="Produto.IdCategoria" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Produto.ProdutoDaSemana" class="control-label">Produto da Semana</label>
                <div class="radio-container">
                    <input type="radio" id="produtoSemanaSim" name="ProdutoSemana" value="1" checked>
                    <label for="produtoSemanaSim">Sim</label>
                </div>
                <div class="radio-container">
                    <input type="radio" id="produtoSemanaNao" name="ProdutoSemana" value="0">
                    <label for="produtoSemanaNao">Não</label>
                </div>
            </div>





            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const images = document.querySelectorAll('.img-selectable');
        images.forEach(img => img.addEventListener('click', function () {
            // Remove a seleção anterior
            images.forEach(i => i.classList.remove('img-selected'));

            // Marca a imagem clicada como selecionada
            this.classList.add('img-selected');

            // Atualiza o valor do campo oculto com o caminho completo da imagem
            const hiddenInput = document.getElementById('imagemUrlField');
            hiddenInput.value = this.getAttribute('data-image');
        }));
    });
</script>

<style>

    * {
        font-family: Montserrat;
    }
</style>