@using DeRosaWebApp.Areas.Admin.ViewModel;
@model EditProdutoViewModel

@{
    ViewData["Title"] = "Editar";
}
<style>
    .img-thumbnail {
        margin: 5px;
        transition: transform 0.3s;
    }

        .img-thumbnail:hover {
            transform: scale(1.1);
        }

    .img-selected {
        border: 2px solid #007bff; /* Azul do bootstrap */
    }
</style>

<h1>Editar</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-area="Admin" asp-controller="AdminProduto" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Produto.Cod_Produto" />
            <div class="form-group">
                <label asp-for="@Model.Produto.Nome" class="control-label"></label>
                <input asp-for="@Model.Produto.Nome" class="form-control" />
                <span asp-validation-for="@Model.Produto.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Produto.Preco" class="control-label"></label>
                <input asp-for="@Model.Produto.Preco" class="form-control" />
                <span asp-validation-for="@Model.Produto.Preco" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Produto.EmEstoque" class="control-label"></label>
                <input asp-for="@Model.Produto.EmEstoque" class="form-control" />
                <span asp-validation-for="@Model.Produto.EmEstoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Escolha uma Imagem</label>
                <div id="image-picker">
                    @foreach (var image in Model.AvailableImages)
                    {
                        <img src="@Url.Content("~/Imagens/Produtos/" + image)" alt="@image" class="img-thumbnail img-selectable"
                             data-image="@Url.Content("~/Imagens/Produtos/" + image)" style="width: 100px; height: auto; cursor: pointer;">
                    }
                </div>
                <input type="hidden" id="imagemUrlField" asp-for="@Model.Produto.ImagemUrl" />

                <span asp-validation-for="@Model.Produto.ImagemUrl" class="text-danger"></span>
            </div>
            <a class="btn btn-success" asp-area="Admin" asp-action="Index" asp-controller="AdminImagens">Ou adicione outra imagem</a>

            <div class="form-group">
                <label asp-for="@Model.Produto.DescricaoCurta" class="control-label"></label>
                <input asp-for="@Model.Produto.DescricaoCurta" class="form-control" />
                <span asp-validation-for="@Model.Produto.DescricaoCurta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Produto.PrecoSecundario" class="control-label"></label>
                <input asp-for="@Model.Produto.PrecoSecundario" class="form-control" />
                <span asp-validation-for="@Model.Produto.PrecoSecundario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Produto.IdCategoria" class="form-label">Escolha uma Categoria</label>
                <select asp-for="@Model.Produto.IdCategoria" class="form-select">
                    @foreach (var item in Model.ListCategorias)
                    {
                        <option value="@item.IdCategoria">@item.CategoriaNome</option>
                    }
                </select>
                <input type="hidden" id="imagemUrlField" asp-for="@Model.Produto.ImagemUrl" />
                <span asp-validation-for="Produto.IdCategoria" class="text-danger"></span>
            </div>

            <div class="form-check">
                <label asp-for="@Model.Produto.ProdutoDaSemana" class="form-check-label"></label>
                <input asp-for="@Model.Produto.ProdutoDaSemana" class="form-check-input" />
                <span asp-validation-for="@Model.Produto.ProdutoDaSemana" class="text-danger"></span>
            </div>
            <div class="form-check">
                <label asp-for="@Model.Produto.Indisponivel" class="form-check-label"></label>
                <input asp-for="@Model.Produto.Indisponivel" class="form-check-input" />
                <span asp-validation-for="@Model.Produto.Indisponivel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const images = document.querySelectorAll('.img-selectable');
        images.forEach(img => img.addEventListener('click', function () {
            // Remove a seleção anterior
            images.forEach(i => i.classList.remove('img-selected'));

            // Marca a imagem clicada como selecionada
            this.classList.add('img-selected');

            // Atualiza o valor do campo oculto com o caminho completo da imagem
            const hiddenInput = document.getElementById('imagemUrlField');
            hiddenInput.value = this.getAttribute('data-image');
        }));
    });
</script>