﻿@using System.Globalization;
@using DeRosaWebApp.Repository.Interfaces;

@model ReflectionIT.Mvc.Paging.PagingList<DeRosaWebApp.Models.Produto>

@{
    ViewData["Title"] = "Lista de produtos";
}

<h1 class="titulo-tabela">Produtos Cadastrados</h1>
<p>
    <a asp-action="Create" class="btn-primary create-button">Criar novo produto</a>
</p>
<div class="center">
    <div class="form-container">
        <form method="get" class="form-inline search-form">
            <input name="filter" class="form-control" placeholder="Pesquise um produto..." value="@Model.RouteValue["Filter"]" />
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search" aria-hidden="true">Procurar</span>
            </button>
        </form>
        <p class="total-count">Total de produtos: @Model.TotalRecordCount</p>
        <div>
            <vc:pager paging-list="@Model"></vc:pager>
        </div>
    </div>
</div>

<div class="container-fluid admin">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.Preco)</th>
                <th>@Html.DisplayNameFor(model => model.EmEstoque)</th>
                <th>@Html.DisplayNameFor(model => model.ImagemUrl)</th>
                <th>@Html.DisplayNameFor(model => model.DescricaoCurta)</th>
                <th>@Html.DisplayNameFor(model => model.PrecoSecundario)</th>
                <th>@Html.DisplayNameFor(model => model.IdCategoria)</th>
                <th>@Html.DisplayNameFor(model => model.ProdutoDaSemana)</th>
                <th>@Html.DisplayNameFor(model => model.Indisponivel)</th>
                <th>@Html.DisplayNameFor(model => model.EstoqueAgendamento)</th>
                <th>@Html.DisplayNameFor(model => model.Promocional)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td data-label="Nome">@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td data-label="Preço">R$@item.Preco.ToString("F2", CultureInfo.InvariantCulture)</td>
                    <td data-label="Em Estoque">@Html.DisplayFor(modelItem => item.EmEstoque)</td>
                    <td data-label="Imagem">
                        @if (item.ImagemUrl.Contains("www") || item.ImagemUrl.Contains("http") || item.ImagemUrl.Contains("https"))
                        {
                            <img src="@item.ImagemUrl" width="95" height="95">
                        }
                        else
                        {
                            <img class="bordered-image" src="@item.ImagemUrl" width="95" height="95">
                        }
                    </td>
                    <td data-label="Descrição Curta">@Html.DisplayFor(modelItem => item.DescricaoCurta)</td>
                    <td data-label="Preço Secundário">R$@item.PrecoSecundario.ToString("F2", CultureInfo.InvariantCulture)</td>
                    <td data-label="ID Categoria"><span>Identificador: </span>@Html.DisplayFor(modelItem => item.IdCategoria)</td>
                    <td data-label="Produto da Semana">@Html.DisplayFor(modelItem => item.ProdutoDaSemana)</td>
                    <td data-label="Indisponível">@Html.DisplayFor(modelItem => item.Indisponivel)</td>
                    <td data-label="Estoque Agendamento">@Html.DisplayFor(modelItem => item.EstoqueAgendamento)</td>
                    <td data-label="Promocional">@Html.DisplayFor(modelItem => item.Promocional)</td>
                    <td class="actions" data-label="Ações">
                        <a class="btn" asp-action="Edit" asp-route-id="@item.Cod_Produto">Editar</a>
                        <a class="btn" asp-action="Details" asp-route-id="@item.Cod_Produto">Detalhes</a>
                        <a class="btn" asp-action="Delete" asp-route-id="@item.Cod_Produto">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>