@model DeRosaWebApp.Models.Categoria

@{
    ViewData["Title"] = "Details";
    
}

<div>
    <h4 class="cat-title"> Detalhes categoria</h4>
    <hr />
    <div>
        <a asp-action="Index">Voltar para a lista</a>
    </div>
    @* <dl class="row custom-cat-detail">
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.IdCategoria)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => model.IdCategoria)
    </dd>

    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.CategoriaNome)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.CategoriaNome)
    </dd>

    </dl> *@
</div>

<div class="custom-cat-detail">
    <div class="tab-detail">
        <table class="table-cat-detail">
            <tr>
                <th>@Html.DisplayNameFor(model => model.CategoriaNome)</th>
                <th>@Html.DisplayNameFor(model => model.IdCategoria)</th>
                <th></th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.CategoriaNome)</td>
                <td>@Html.DisplayFor(model => model.IdCategoria)</td>
                <td><a asp-action="Edit" asp-route-id="@Model?.IdCategoria" class="btn">Edit</a> </td>
            </tr>
        </table>

        @* <div class="cat-detail-btns">
        <a asp-action="Index">Voltar para a lista</a>
        </div> *@

    </div>


</div>

<style>

     *{
        font-family: Montserrat;
    }
</style>
                