@model CadastroViewModel

<div class="containerf">
    <div class="containerf">
        <div class="row">
            <div class="col-md-6 text-center">
                <img class="imglogin" width="400px" height="400px" src="~/Imagens/Logo_Login.png" alt="iconelogin" />
            </div>
            <div class="col-12 col-md-6">
                <div class="mw-md py-12 mx-auto">
                    <div class="container-cadastro">
                        <h1>Cadastro</h1>
                        <form asp-controller="Cadastro" asp-action="Cadastrar" method="post">
                            @* <div asp-validation-summary="All" class="text-danger"></div> *@
                            <div class="form-cadastro">
                                <div class="col-md-6 input-pequeno container-input">
                                    <input class="form-control" asp-for="@Model._Cliente.NomeUsuario" placeholder="Nome do Usuário (não utilize espaços)" />
                                    <span asp-validation-for="@Model._Cliente.NomeUsuario" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 input-pequeno container-input">
                                    <input class="form-control" asp-for="@Model._Cliente.Nome" placeholder="Nome completo" />
                                    <span asp-validation-for="@Model._Cliente.Nome" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 input-pequeno container-input">
                                    <input class="form-control" asp-for="@Model._Cliente.Email" placeholder="Email" />
                                    <span asp-validation-for="@Model._Cliente.Email" class="text-danger"></span>
                                </div>
                                <div class="col-md-6  input-pequeno container-input">
                                    <input class="form-control" asp-for="@Model._Cliente.DateNasc" placeholder="Data de Nascimento" />
                                    <span asp-validation-for="@Model._Cliente.DateNasc" class="text-danger"></span>
                                </div>
                                <div class="col-md-8 container-input">
                                    <input class="form-control" asp-for="@Model._Cliente.CPF" placeholder="CPF" />
                                    <span asp-validation-for="@Model._Cliente.CPF" class="text-danger"></span>
                                </div>
                                <div class="col-md-8 container-input">
                                    <input class="form-control" asp-for="@Model._Cliente.Senha" placeholder="Senha" />
                                    <span asp-validation-for="@Model._Cliente.Senha" class="text-danger"></span>
                                </div>
                                <div class="col-md-8 input-pequeno container-input">
                                    <input class="form-control" asp-for="@Model._Cliente.Telefone" placeholder="Telefone" />
                                    <span asp-validation-for="@Model._Cliente.Telefone" class="text-danger"></span>
                                </div>
                                <div class="col-md-8 container-input input-pequeno">
                                    <input asp-for="@Model._Endereco.CEP" id="cep" class="form-control" onblur="pesquisacep(this.value);" placeholder="CEP" />
                                    <span asp-validation-for="@Model._Endereco.CEP" class="text-danger"></span>
                                </div>
                                <div class="col-md-8 container-input input-pequeno">
                                    <input asp-for="@Model._Endereco.Logradouro" id="rua" class="form-control" placeholder="Rua" readonly/>
                                    <span asp-validation-for="@Model._Endereco.Logradouro" class="text-danger"></span>
                                </div>
                                <div class="col-md-8 container-input input-pequeno">
                                    <input asp-for="@Model._Endereco.Numero" class="form-control" placeholder="Número" />
                                    <span asp-validation-for="@Model._Endereco.Numero" class="text-danger"></span>
                                </div>
                                <div class="col-md-8 container-input input-pequeno">
                                    <input asp-for="@Model._Endereco.Complemento" class="form-control" placeholder="Complemento" />
                                    <span asp-validation-for="@Model._Endereco.Complemento" class="text-danger"></span>
                                </div>
                                <div class="col-md-8 container-input input-pequeno">
                                    <input asp-for="@Model._Endereco.Bairro" id="bairro" class="form-control" placeholder="Bairro" readonly/>
                                    <span asp-validation-for="@Model._Endereco.Bairro" class="text-danger" ></span>
                                </div>
                                <div class="col-md-8 container-input input-pequeno">
                                    <input asp-for="@Model._Endereco.Cidade" id="cidade" class="form-control" placeholder="Cidade" readonly/>
                                    <span asp-validation-for="@Model._Endereco.Cidade" class="text-danger"></span>
                                </div>
                                <div class="col-md-8 container-input input-pequeno">
                                    <input asp-for="@Model._Endereco.UF" id="uf" class="form-control" placeholder="UF" readonly />
                                    <span asp-validation-for="@Model._Endereco.UF" class="text-danger"></span>
                                </div>

                                <div class="btn-cadastrar-container">
                                    <input class="btn btn-success btn-cadastro" type="submit" value="Cadastrar" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @{
        await Html.RenderPartialAsync("_ConsultaCEP");
    }
}